@import "tailwindcss";

@plugin 'tailwind-scrollbar';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cinzel: var(--font-cinzel);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

@layer components {
  .custom-container {
    @apply w-full md:max-w-6xl lg:max-w-[1440px] 2xl:max-w-[1800px] px-2.5 md:px-8 mx-auto
  }
}